body {
    background-image: url("./Resources/Paper\ texture\ background.jpg");
    background-size: cover;
    margin: 0px;
}

#navbar {
    display: flex;
    position: fixed;
    z-index: 1;
    margin: 1px;
}

#zoom-container {
    display: flex;
}

#zoom-in-button, #zoom-out-button, #search-button, #forum-button, #search-event-button {
    border-style: outset;
    background: #e5e8c4;
    text-align: center;
    margin-right: 5px;
    width: 70px;
    height: 20.2px;
}

#search-button, #search-event-button {
    margin-left: 2px;
}

#search-marker-input, #search-event-input {
    height: 25.2px;
}

#event-search {
    display: flex;
    flex-direction: column;
}

#result-list {
    display: none;
    height: 150px;
    background-color: #fff;
    border: 1px solid;
}

main {
    display: flex;
}

#map {
    width: 1128px;  
    height: 700px;
    background-image: url("./Resources/Map.png"); 
    background-size: cover;
}

#container {
    width: 1130px;
    height: 700px;
    overflow: auto;
    display: inline-block;
    border: 2px solid #816c3c;
    background-image: url("./Resources/Paper\ texture\ light.jpg");
}

/*markers*/

.marker-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    width: 35.63px;
    height: 23.6px;
    position: relative;
}

.marker {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
}

#yesei-marker {
    left: 58%;
    top: 26%; 
}

#earlshade-marker {
    left: 67%;
    top: 18%;
}

#erisa-marker {
    left: 67%;
    top: 52%;
}

#nause-marker {
    left: 85%;
    top: 38%;
}

#orror-marker {
    left: 87%;
    top: 17%;
}

#wei-marker {
    left: 51%;
    top: 39%;
}

#nadir-marker {
    left: 56%;
    top: 19%;
}

#fiona-marker {
    left: 47%;
    top: 1%;
    display: none;
}

#calcopi-marker {
    left: 61%;
    top: -15%;
    display: none;
}

#aruan-marker {
    left: 45%;
    top: -26%;
    display: none;
}

#mibriana-marker {
    left: 21%;
    top: 50%;
    display: none;
}

#arasol-marker {
    left: 20%;
    top: -13%;
    display: none;
}

#dobel-marker {
    left: 5%;
    top: -1%;
    display: none;
}

#aurixion-marker {
    left: 26%;
    top: 5%;
    display: none;
}

#ialioi-marker {
    left: 44%;
    top: 33%;
    display: none;
}

#inami-marker {
    left: 91%;
    top: -26%;
    display: none;
}

.marker-text {
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    width: fit-content;
    margin: auto;
    border: 1px solid;
    padding: 0px 2px;
}

.marker-dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin: auto;
}

/*sidebar*/

#sidebar{
    display: flex;
    height: 700px;
    width: 400px;
    border: 2px solid #816c3c;
    border-right: 3px solid #816c3c;
    flex-direction: column;
}

#range-container {
    display: flex;
    margin-top: 5%;
    flex-direction: column-reverse;
    height: 48.8px;
}

#date {
    display: flex;
}

.date-text {
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
}

.date-select {
    display: none;
    font-size: 20px;
}

#change-date {
    border-style: outset;
    background: #e5e8c4;
    text-align: center;
    width: 40px;
}

#event-section {
    margin-top: 10px;
}

#events-list {
    border-top: 3px solid #816c3c;
    border-bottom: 3px solid #816c3c;
    height: 150px;
    cursor: pointer;
    overflow: auto;
    background-image: url("./Resources/Paper\ texture\ light.jpg");
}

.new-div {
    padding-left: 2px;
}

#selected-event {
    border: 1px solid;
}

.notCurrentEvent {
    background-color: #000;
    color: #fff;
}

#event-details {
    display: grid;
    grid-template-columns: auto auto;
    height: 150px;
    border-top: 3px solid #816c3c;
    border-bottom: 3px solid #816c3c;
    margin-top: 20px;
    overflow: auto;
    background-image: url("./Resources/Paper\ texture\ light.jpg");
    padding-left: 2px;
}

#event-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-content: flex-end;
}

#step-container {
    display: flex;
    justify-content: flex-end;
}

#step-container button{
    width: 27.3px;
}

#previous-event-button, #next-event-button, #return-button {
    background-color: #e5e8c4;
}

#return-button abbr{
    text-decoration: none;
}

#jump-button {
    display: none;
    width: 54.6px;
    height: 42.4px;
}

#forum-container {
    display: flex;
    justify-content: flex-end;
    height: 84%;
    align-items: flex-end;
}

#forum-button {
    background: #816c3c;
    border-color: #816c3c;
    margin-right: 0px;
}

#forum-button a {
    text-decoration: none;
    color: #2d2626;
}

/*WIP responsive*/

@media only screen and (max-width: 920px) {
    #navbar {
        flex-direction: column;
    }
    #search-marker-input, #search-event-input {
        margin-top: 3px;
        width: 155px;
    }
}



@media only screen and (max-width: 768px) {
    main{
        flex-wrap: wrap;
    }
    #container{
        width: 735px;
        height: 350px;
    }
    #sidebar{
        height: 343px;
        width: 735px;
    }
    #event-section{
    display: flex;
    }
    #range-container{
        margin-top: 10px;
    }
    #events-list{
        width: 35%;
    }
    #event-details{
        margin-top: 0px;
        width: 64%;
        border-left: 1px solid;
        border-right: 3px solid #816c3c;
    }
}

@media only screen and (max-width: 480px) {
    #event-section{
        flex-wrap: wrap;
    }
    #events-list{
        width: 100%;
    }
    #event-details{
        margin-top: 0px;
        width: 100%;
        border-left: none;
        border-right: none;
    }
}
  